
<div class="text-center">
    <h1>Objeto no encontrado</h1>
    <h3>Revise su informacion e intente nuevamente</h3>
    <p>
        @ViewData["ErrorMessage"];

    </p>
    <p>404</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
    Regresar a Inicio
    </a>

</div>

